html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #000000;
  color:crimson;
  padding: 2%;
  text-align: center;
}

.same-line {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: black;
}

.left {
  display: flex;
  gap: 20px;
  color: black;
}

.right {
  display: flex;
  gap: 20px;
  margin-right: 6%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: crimson;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: crimson;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #878C8F;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
