<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen-App</title>
</head>
<header>
    <nav class="same-line">
        <a href="/">Home</a>
        <a href="/text">Text</a>
        <a href="/choices">Choices</a>
        <a href="/todo">To Do</a>
        <a href="/profile">Profile</a>
        <a href="/colors">Colors</a>
        <a href="/lower_right">Lower Right</a>
    </nav>
</header>
<body>
    <%- body %>    
</body>
</html>