<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />
    <title>Your Wholesome Dose</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Mooli&display=swap" rel="stylesheet"/>
    <style>
      html {
        background: black;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
      }
      body {
        font-family: "Hedvig Letters Serif", serif;
      }
      #heading {
        text-align: center;
        font-size: 4rem;
        border-radius: 10px; /* Rounded corners */
        color: crimson;
      }
      
    </style>
  </head>
  <body>
    
    <div id="heading">
        Welcome To Our Kitchen App
    </div>
    <p id="welcome_message">Hey there, random doodle-o! Thank you for taking out time to visit us. The website's goal is to provide you with your daily dose of wholesomeness which you might be missing out on.</p>
    
  </body>
</html>
